@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(backgriund_space.jpg);
    background-position: center;
    background-size: cover; 
    position: relative;
    background-color: #000000;
}

#box{
    display: flex;
    /* background-color: red; */
    height: 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#box img{
  bottom: 0;
} 

.falling-comet {
  position: absolute;
  width: 40px;
  height: auto;
  pointer-events: none;
}

/* dynamically created live by js */
.comet{
  pointer-events: none;
  height: 60px;
  width: 40px;
}

/* score */
h1{
  color: white;
  /* position: fixed; */
  font-size: 56px;
  font-family: "audiowide";
}